PORT=3000
MONGODB_USER=ouctek786
MONGODB_PASSWORD=qNlWvYNlHuMpdy3u
MONGODB_URL=mongodb+srv://ouctek786:qNlWvYNlHuMpdy3u@cluster0.r0akv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=sample_mflix